.keyboard__wrapper {
  max-width: 72rem;
  margin: 0 auto;
  
  
}

.keyboard__contaner {
  border: 0.1rem solid $color-keyboard-border;
  border-radius: 0.6rem;
  display:flex;
  flex-wrap: wrap;
  justify-content: space-between;
  background-color: $color-keyboard-background;
}

.keyboard__text {
  width: 71rem;
  height: 15rem;
  margin: 10rem 0 5rem 0;
  border-radius: 0.6rem;
  border: 0.1rem solid $color-border;
}

