$color-keyboard-background: #3c5768;
$color-keyboard-border: green;
$color-key-background: #5283a2;
$color-key-border: #ecf5fa;
$color-control-key-background: #339bdd;
$color-control-key-border: #bce8ff;
$color-control-key-letter: #bce8ff;
$color-key-letter: white;
$color-text: black;
$color-border: #3c5768;
$color-highlights: #21edf58a;
$color-highlights-border: #1feaf2;
$color-highlights-text: black;