.keyboard__content {
  width: 4rem;
  height: 4rem;
  padding: 0;
  border: 0.1rem solid #db1414;
  border-radius: 0.6rem;
  background-color: pink;
  color: black;  
  text-align: center;
  cursor: pointer; 
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.7rem;
  margin: 0.5rem 0.3rem;
}