.backspace {
  width: 10rem;    
}

.tab {
  width: 5rem;  
}

.del {
  width: 4.5rem;  
} 

.caps-lock,
.shift {
  width: 10.5rem; 
}

.enter {
  width: 8.7rem; 
}

.ctrl {
  width: 6.5rem;  
}

.space {
  width: 29rem;  
}

.left-button {
  margin-left: 0;
}

.right-button {
  margin-right: 0;
}